.resume-btn{
    border: 3px solid white;
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
}
.resume-btn:hover{
    border: 3px solid rgb(238, 89, 34);
  
    color: #fff;
        box-shadow: inset 700px 0 0 0 #170e36;;
 
}
.send-btn{
    padding: 10px 30px;
    background-color: rgb(59, 53, 245);
    color: #fff;
    border-radius: 5px;

}
.send-btn:hover{
    background-color: rgb(238, 89, 34);
    -webkit-box-shadow: 10px 10px 99px 6px rgb(218, 181, 17);
    -moz-box-shadow: 10px 10px 99px 6px rgb(229, 240, 76);
    box-shadow: 10px 10px 99px 6px rgb(203, 172, 20);
}